name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go-version:
          - 1.23.x
          - 1.24.x
        platform:
          - ubuntu-latest

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go${{ matrix.go-version }}-

      - run: go mod download

      - name: Run tests
        run: go test ./...
        env:
          MATOMO_API_KEY: ${{ secrets.MATOMO_API_KEY }}
          MATOMO_ENDPOINT: ${{ secrets.MATOMO_ENDPOINT }}