name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - id:  git_tag
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - id:  tarball_file
        run: echo ::set-output name=filename::"matomogql_${{ steps.git_tag.outputs.tag }}.tar.gz"

      - id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase:      ${{ secrets.GPG_PASSWORD }}

      - name: Build dist tarball
        run: tar -czvf ${{ steps.tarball_file.outputs.filename }} graph handlers matomo utils go.mod go.sum gqlgen.yml tools.go

      - name: GPG sign dist tarball
        run: gpg --armor --detach-sign ${{ steps.tarball_file.outputs.filename }}

      - name: Create and publish GitHub release
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: ${{ inputs.prerelease }}
          files: |
            LICENSE
            README.md
            ${{ steps.tarball_file.outputs.filename }}*